*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec{
    background-position: center;
}
html{
    background-color: #9BA4B3;
    color: rgb(15, 15, 15);
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1150px;
    margin: 0 auto;
}
header{
    background-color:#9BA4B3;
    height:85vh;
    background-size: cover;
    background-position: center;
}

.foo{
    background-color: #e0e0e0;
    height:9vh;
    text-align: center;
    padding: 30px;

}

.login-box{
    position: relative;
    margin: 10.5% auto;
    padding: 30px;
    height: 370px;
    width: 16%;
    background: #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.6);
    
}

h1{
    color: #263238;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 10px;
}
input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #263238;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #455a64;
    transition: 0.2s ease;
}

.logo{
    height: 80px;
    width: auto;
    margin-top: 30px;
    float: inline-start;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    font-size: 95%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #263238;
}